<footer class="footer">
	<div class="container">
		<p>Kobol Docs build with Antora <a class="boxlink" href="http://www.alles-und-nichts.com/docs">www.alles-und-nichts.com/docs</a> <a class="boxlink" href="http://www.alles-und-nichts.com">www.alles-und-nichts.com</a></p>
	</div>
</footer>
