<footer class="footer">
	<div class="container">
		<p>Kobol Docs build with Antora <a class="boxlink" href="https://github.com/sebastian9486/kobol-setup/actions">Github Actions</a> <a class="boxlink" href="http://docs.alles-und-nichts.com">docs.alles-und-nichts.com</a> <a class="boxlink" href="http://www.alles-und-nichts.com">www.alles-und-nichts.com</a></p>
	</div>
</footer>
